:root {
    --20-28-regluar-font-family: "WorkSans-Regular", Helvetica;
    --20-28-regluar-font-size: 20px;
    --20-28-regluar-font-style: normal;
    --20-28-regluar-font-weight: 400;
    --20-28-regluar-letter-spacing: 0px;
    --20-28-regluar-line-height: 28px;
    --cultured-grey: rgba(247, 249, 249, 1);
}